@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 15px;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  margin: 0;
}

main {
  /* min-height: 100vh;
  min-height: 100svh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  gap: 12px;
}

.card-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 100%;
  max-width: 320px;
  height: auto;
  padding: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.img-container {
  max-width: 100%;
  margin-bottom: 24px;
}

.img-container img {
  width: 100%;
  border-radius: 10px;
}

.card-container h1 {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 120%;
  margin-bottom: 16px;
}

.card-container p {
  color: hsl(216, 15%, 48%);
  line-height: 140%;
  letter-spacing: 0.6px;
  text-align: center;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 6px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  main {
    padding: 20px 12px;
  }

  .card-container {
    padding: 14px;
  }
}
